<div style="display: flex; align-items: center;">
    <img src="../img/es_logo.png" alt="title" style="margin-right: 20px;">
    <h1>Python Syntax and Data Types</h1>
</div>

### Submission Instructions

- You should complete the code in the code cells provided.
- Once you have completed the notebook, you should submit the completed notebook by uploading it to your github profile and sharing the github link as the submission.
- your github repostory should contain the completed notebook as well as a README.md file that summarizes what you have learned in this module.

### Recommended Readings:
- Automate the Boring Stuff with Python: [Chapter 1](https://automatetheboringstuff.com/2e/chapter1/)
- Python Documentation: [Python Docs](https://docs.python.org/3/tutorial/index.html)
- W3Schools Python Tutorial: [W3Schools](https://www.w3schools.com/python/)
- make a readme file [README](https://www.makeareadme.com/)

Complete the code to print out Hello Python! in a formatted string.

In [5]:
message = "Python{}"
Greeting = 'Hello'
print(Greeting , message.format('!'))
# i used the Format Method just as a practice

Hello Python!

Correct the following code to:
1. Perform the arithmetic operation on a and b.
2. Perform concatenation on a and b.

In [4]:
a = 5
b = "10"

# perform addition expected output is 15

# we convert the b Value to int
addition = a + int(b)
print(addition)

# perform concatenation expected output is 510

# we convert the a value to a string
concatenation = str(a) + b
print(concatenation)

15
510

Complete the code to extract and print out the domain name from the email address.

In [8]:
email = "python_dev@estarta.com"

# extract domain from email

# Using the slicing method
domain = email[11:]
print(domain)

estarta.com

Perform the following operations on the "Cars" list:
1. Add "Honda" to the list.
2. Replace the second element with "Ford".
3. Remove "Toyota" from the list.
4. Check if "Subaru" is in the list.

In [10]:
cars = ["Toyota", "Mercedes", "BMW", "Jeep"]

# add "Honda" to the list

cars.append('Honda')

# replace the second element with "Ford"

cars[1] = 'Ford'

# remove Toyota from the list

cars.remove('Toyota')

print(cars)

# print True if Subaru is in the list else False

['Ford', 'BMW', 'Jeep', 'Honda']

Complete the code to do the following:
1. Create a new dictionary with the following key-value pairs: "name": "Ahmad", "age": 25, "occupation": "doctor", "country": "Jordan"
2. Add a new key-value pair with "city": "Amman"
3. Update the occupation to "Surgeon"
4. Remove the "country" key-value pair from the dictionary.
5. print out the updated dictionary.

In [19]:
# complete the code to perform the operations listed above
person = {
    "name" : "Ahmad",
    "age" : "25",
    "occupation" : "doctor",
    "coutnry" : "Jordan"
}

person.update({"city" : "Amman" })
# we can use another way
# person["city"] = "Amman

person.update({"occupation" : "Surgeon"})
# we can use another way
# person["occupation"] = "Surgeon"

del person["coutnry"]

print(person)

{'name': 'Ahmad', 'age': '25', 'occupation': 'Surgeon', 'city': 'Amman'}

Complete the folowing opertasions on the "numbers" set:
1. Check if 4 is in the set.
2. Add 5 to the set.
3. Remove 3 from the set.
4. Try to add a duplicate element to the set.
5. Create a new set that contains numbers from in the range of m+1 to m+10, where m is the maximum number in the "numbers" set.
6. Create a set that is the union of the two sets.

In [33]:
numbers = {2, 5, 16, 8, 7, 9, 3, 1}

# your code here

#1
print("Number 4 exists ?", 4 in numbers) 

#2
numbers.add(4)

#3
numbers.remove(3)

#4
# sets wont allow any duplicates , the add command will not give any new output

numbers.add(2)

#5

# the below code block is used to get the new set

max = 0
new_range = ()
for x in numbers:
    if x > max:
        max = x
        new_range = range(max+1 , max+10)
new_set = set(new_range)

print(new_set)


#6
union_set = numbers.union(new_set)

# print the union of the two sets

print(union_set)

Number 4 exists ? False
{17, 18, 19, 20, 21, 22, 23, 24, 25}
{1, 2, 4, 5, 7, 8, 9, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}